### import Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Load Data
ev_data = pd.read_csv('../Data/IEA-EV-data.csv')

In [3]:
ev_data.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,sales,49.000000
1,Australia,Historical,EV stock,Cars,BEV,2011,stock,49.000000
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.006479
3,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.000464
4,Australia,Historical,EV stock share,Cars,EV,2012,percent,0.002785

### Checked the data type of each column cast it accordingly
- We have `region`,`category`,`parameter`,`mode`,`powertrain`,`unit` are `Object` type convert them into `category`.
- We have `year` in `int64` to save this info `int32` is enough.

In [18]:
# ev_data.category.value_counts()
# ev_data.region.value_counts()
# ev_data.parameter.value_counts()
# ev_data['mode'].value_counts() # dot notation won't work because df has mode func.
# ev_data.powertrain.value_counts()

In [19]:
# ev_data.info(memory_usage='deep')
# ev_data.describe()

In [20]:
# Let's work on data types for memory optimization.
# ######UPDATE MEMORY FROM 2.4MB TO 115KB#####
ev_df = (
ev_data
    .assign(
        **{c:lambda df_,c=c:df_[c].astype('category') for c in ['region','category','parameter','mode','powertrain','unit']},
        year = lambda df_:df_['year'].astype("int16")
    )
#     .info(memory_usage='deep')
)

In [21]:
ev_df.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,sales,49.000000
1,Australia,Historical,EV stock,Cars,BEV,2011,stock,49.000000
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.006479
3,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.000464
4,Australia,Historical,EV stock share,Cars,EV,2012,percent,0.002785

### Check for null values

In [22]:
ev_df.isna().sum()

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

##### We have cleaned dataset, so we should move on EDA.